:root {
  --fg-color: #222f3d;
  --bg-color: #ffffff;

  --info-fg-color: #94bfff;
  --info-bg-color: #f5f9ff;
  --info-border-color: #a8cbff;

  --tip-fg-color: #92e07d;
  --tip-bg-color: #fbfffa;
  --tip-border-color: #caf0c0;

  --warning-fg-color: #ffc214;
  --warning-bg-color: #fff9e6;
  --warning-border-color: #ffe7a3;

  --danger-fg-color: #fc8d93;
  --danger-bg-color: #fcebec;
  --danger-border-color: #fcc2c5;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local("Inter Regular"),
    url("../fonts/Inter-VariableFont_opsz\,wght.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: local("Inter Italic"),
    url("../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local("Inter SemiBold"),
    url("../fonts/Inter-VariableFont_opsz\,wght.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local("Inter Bold"),
    url("../fonts/Inter-VariableFont_opsz\,wght.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  src: local("Inter Bold Italic"),
    url("../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf") format("ttf");
}

body {
  font-family: "Inter", sans-serif;
  font-size: 9pt;
  color: var(--fg-color);
  background-color: var(--bg-color);
}

pre:is(
    .callout\:info,
    .callout\:tip,
    .callout\:warning,
    .callout\:danger
  )::before {
  font-family: "Source Sans 3", sans-serif;
  display: block;
  font-weight: 600;
  padding-bottom: 0.2rem;
}

pre:is(.callout\:info, .callout\:tip, .callout\:warning, .callout\:danger) {
  border-width: 1px;
  border-style: solid;
  padding: 0.5rem;
  border-radius: 0.4rem;
  font-size: 0.8em;
}
pre:is(.callout\:info, .callout\:tip, .callout\:warning, .callout\:danger)
  > code {
  font-family: "Inter", sans-serif;
}

pre.callout\:info::before {
  content: "ℹ️  Info";
  color: var(--info-fg-color);
}

pre.callout\:info {
  background-color: var(--info-bg-color);
  border-color: var(--info-border-color);
}

pre.callout\:tip::before {
  content: "💡  Tip";
  color: var(--tip-fg-color);
}

pre.callout\:tip {
  background-color: var(--tip-bg-color);
  border-color: var(--tip-border-color);
}

pre.callout\:warning::before {
  content: "⚠️  Warning";
  color: var(--warning-fg-color);
}

pre.callout\:warning {
  background-color: var(--warning-bg-color);
  border-color: var(--warning-border-color);
}

pre.callout\:danger::before {
  content: "⛔️  Danger";
  color: var(--danger-fg-color);
}

pre.callout\:danger {
  background-color: var(--danger-bg-color);
  border-color: var(--danger-border-color);
}
