@page {
  margin-left: 0.5in;
  margin-right: 0.5in;
  margin-top: 0.5in;
  margin-bottom: 0.5in;

  background-color: #fef9f3;
}

body {
  counter-reset: h2;
}

h2:before {
  content: counter(h2) ". ";
  counter-increment: h2;
}

h2 {
  counter-reset: h3 h4 h5 h6;
}

h3:before {
  content: counter(h2) "." counter(h3) ". ";
  counter-increment: h3;
}

h3 {
  counter-reset: h4 h5 h6;
}

h4:before {
  content: counter(h2) "." counter(h3) "." counter(h4) ". ";
  counter-increment: h4;
}

h4 {
  counter-reset: h5 h6;
}

h5:before {
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
  counter-increment: h5;
}

h5 {
  counter-reset: h6;
}

h6:before {
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "."
    counter(h6) ". ";
  counter-increment: h6;
}
