:root {
  --black: #2a2a2a;
  --white: #fbfbfb;
  --light-grey: #f4f4f4;
  --medium-grey: #929292;
  --red: #db4d52;

  --fg-color: var(--black);
  --bg-color: var(--white);
  --primary-color: var(--red);
  --ghost-fg-color: var(--medium-grey);
  --ghost-bg-color: var(--light-grey);

  --title-weight: 400;
  --heading-weight: 400;
  --body-weight: 300;
  --bold-weight: 600;
  --ol-marker-weight: 400;
  --ul-marker-weight: 800;
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"),
    url("../fonts/RobotoSlab-VariableFont_wght.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"),
    url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"),
    url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"),
    url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"),
    url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"),
    url("../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans SemiBold Italic"),
    url("../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf") format("ttf");
}

/*
 * We support both Fira Mono and Fira Code because Fira Code supports
 * ligatures, which we only want to use in code blocks.
 */

@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono Regular"),
    url("../fonts/FiraMono-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 700;
  src: local("Fira Mono Bold"), url("../fonts/FiraMono-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: local("Fira Code Regular"),
    url("../fonts/FiraCode-VariableFont_wght.ttf") format("ttf");
}

/* The bold weight may be used for syntax highlighting. */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  src: local("Fira Code Bold"),
    url("../fonts/FiraCode-VariableFont_wght.ttf") format("ttf");
}

@page {
  margin-left: 0.5in;
  margin-right: 0.5in;
  margin-top: 0.5in;
  margin-bottom: 0.5in;

  background-color: var(--bg-color);
}

body {
  color: var(--fg-color);

  font-family: "Open Sans", sans-serif;
  font-weight: var(--body-weight);

  counter-reset: h2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

h1 {
  font-weight: var(--title-weight);
  font-size: 1.9em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--heading-weight);
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}

h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  color: var(--ghost-fg-color);
  font-size: 0.75em;
}

h2 {
  counter-reset: h3 h4 h5 h6;
}

h2::before {
  content: counter(h2) ". ";
  counter-increment: h2;
}

h3 {
  counter-reset: h4 h5 h6;
}

h3::before {
  content: counter(h2) "." counter(h3) ". ";
  counter-increment: h3;
}

h4 {
  counter-reset: h5 h6;
}

h4::before {
  content: counter(h2) "." counter(h3) "." counter(h4) ". ";
  counter-increment: h4;
}

h5 {
  counter-reset: h6;
}

h5::before {
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
  counter-increment: h5;
}

h6::before {
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "."
    counter(h6) ". ";
  counter-increment: h6;
}

strong,
b {
  font-weight: var(--bold-weight);
}

del {
  color: var(--ghost-fg-color);
}

a {
  color: var(--primary-color);
  text-decoration: underline;
}

hr {
  border: 0;
  border-top: 1px solid var(--ghost-fg-color);
}

blockquote {
  margin-left: 0;
  padding-left: 1.5rem;
  border-left: 4px solid var(--primary-color);
}

pre {
  font-family: "Fira Mono", monospace;
  padding: 0.8rem;
  border-radius: 0.2rem;
  background-color: var(--ghost-bg-color);
  border: 1px solid var(--ghost-fg-color);
}

code {
  font-family: "Fira Code", monospace;
}

:not(pre) > code {
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  border: 1px solid var(--ghost-fg-color);
  background-color: var(--ghost-bg-color);
}

ol,
ul {
  padding-left: 1rem;
  line-height: 1.75;
}

/* 
 * This affects the padding of lists relative to the page, but not the padding
 * of nested lists relative to their parent list.
 */

:not(li) > ol,
:not(li) > ul {
  padding-left: 2rem;
}

li {
  text-indent: 4px;
}

li::marker {
  color: var(--primary-color);
}

ol > li::marker {
  font-weight: var(--ol-marker-weight);
}

ul > li::marker {
  font-weight: var(--ul-marker-weight);
}
